@import './sass-add/mixins.scss';
@import './sass-add/vars.scss';
.header{
  background: rgb(240,87,97);
  background: radial-gradient(circle, rgba(240,87,97,1) 35%, rgba(255,88,77,1) 100%);
  color: $main;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1% 0;
  width: 100%;
  position: fixed;
}
.div__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 2rem;
}
.div__header>nav>ul{
  display: flex;
  list-style: none;
}
.div__header ul>li{
  padding: 0 20px;
  font-size: 1.3rem;
}
.div__header ul>li:last-child{
  padding: 0 0 0 20px;
}
.link-hover{
  transition: .3s;
}
.link-hover:hover{
  color: rgb(255, 255, 255);
}
.drawerIcon{
  font-size: 1.9rem;
}
.drawerMenu{
  position: absolute;
  padding: 2%;
  height: 100vh;
  background: rgb(240,87,97);
  background: radial-gradient(circle, rgba(240,87,97,1) 35%, rgba(255,88,77,1) 100%);
  top: 100%;
  right: -100%;
  transition: .5s;
}
.active {
  right: 0!important;
}
.drawerMenu ul{
  list-style: none;
}
.drawerMenu ul>li{
  margin: 20% 0;
}
@media (max-width: 1100px) {
  .div__header>nav{
    display: none;
  }
  .drawer{
    display: block;
  }
}